* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;;
}
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0rem;
}



@import "./nav";
@import "./search";
@import "./footer";
